*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

label {
  color: white;
}

body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
}

.navbar, .container {
    background-color: black;
    width: 400px;
}

.navbar {
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.btn, input {
    height: 35px;
    padding: 0 1em;
}

.color {
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container {
    --size: 4;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;
}

.pixel {
    background-color: rgb(61, 61, 61);
    border-radius: 2px;
}